version: "3.9"
services:
  db:
    image: mysql
    command: --max_connections=10000
    container_name: db_mydass
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    volumes:
      - ./data/db:/var/lib/mysql
    ports:
      - "6033:3306"

  phpmyadmin:
    image: phpmyadmin
    container_name: pma_mydass
    depends_on:
      - db
    environment:
      PMA_HOST: db_mydass
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
      UPLOAD_LIMIT: 1024M
    restart: always
    ports:
      - 8081:80
  web:
    build: .
    command: sh -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    container_name: exp_mydass
    restart: always
    volumes:
      - .:/exp
    ports:
      - "3000:3000"
    depends_on:
      - db